$max-width: 620px;
$transition-time: 0.4s;
#nav {
    width: 100vw;
    height: 8vh;
    min-height: 60px;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: background-color $transition-time ease;
    background-color: var(--primary-o86);
    backdrop-filter: blur(10px);
    .container {
        width: inherit;
        height: inherit;
        min-height: 60px;
        max-width: $max-width;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        input {
            display: none;
            + label {
                display: flex;
                flex-direction: column;
                align-items: center;
                .vectors {
                    transition: color $transition-time ease-out;
                    color: var(--color-attract);
                    #user-dp {
                        width: 26px;
                        height: 26px;
                        border-radius: 100px;
                    }
                    .svg-icon {
                        width: 26px;
                        height: 26px;
                        transition: fill $transition-time ease-out;
                        fill: var(--color-dim);
                    }
                }
                .activity-dot {
                    transition: width $transition-time ease-in-out,
                        height $transition-time ease-in-out,
                        background-color $transition-time ease-out;
                    width: 0;
                    height: 0;
                    border-radius: 10px;
                    background-color: transparent;
                }
                &:hover {
                    cursor: pointer;
                    .vectors {
                        .svg-icon {
                            transition: fill $transition-time ease-out;
                            fill: var(--color-attract);
                        }
                    }
                    .activity-dot {
                        width: 12px;
                        height: 3px;
                        transition: background-color $transition-time ease-out;
                        background-color: var(--highlight);
                    }
                }
            }
            &:checked {
                + label {
                    .activity-dot {
                        transition: width $transition-time ease-out,
                            height $transition-time ease-out,
                            background-color $transition-time ease-out;
                        width: 4px;
                        height: 4px;
                        background-color: #fe0535;
                    }
                    &:hover {
                        .vectors {
                            .svg-icon {
                                transition: fill $transition-time ease-out;
                                fill: var(--color-dim);
                            }
                        }
                    }
                }
            }
        }
    }
}
