// _colors.scss
:root {
    --primary: #f4f5f5;
    --highlight: #1673f0;
    --title: #6c7780;
    --under-title: #050401;
    // --primary: #141219;
    // --highlight: #28a9ff;
    // --title: #908c91;
    // --under-title: #e8eee7;
}

.dark-mode {
    --primary: #141219;
    --highlight: #28a9ff;
    --title: #908c91;
    --under-title: #e8eee7;
}