.main {
    .container {
        $margin-top-bottom: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .content {
            width: 96%;
            margin-top: $margin-top-bottom;
            max-width: 774px;
            .title {
                font-size: 2.2rem;
                margin-bottom: $margin-top-bottom*1.6;
                span {
                    color: var(--color-attract);
                }
            }
            .cards {
                .card {
                    border-radius: $margin-top-bottom;
                    transition: border-color 0.4s ease;
                    border: 0.1px solid var(--separator-color);
                    margin-bottom: $margin-top-bottom;
                    .img {
                        margin-bottom: $margin-top-bottom;
                        a {
                            text-decoration: none;
                            width: 100%;
                            img {
                                border-top-left-radius: $margin-top-bottom;
                                border-top-right-radius: $margin-top-bottom;
                                border-end-end-radius: $margin-top-bottom/1.6;
                                border-end-start-radius: $margin-top-bottom/1.6;
                                width: 100%;
                            }
                        }
                    }
                    .credits {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        text-align: center;
                        margin-bottom: $margin-top-bottom;
                        font-size: 1.2rem;
                        color: var(--color-dim);
                        span {
                            a {
                                text-decoration: none;
                                transition: color 0.4s ease;
                                color: var(--color-attract);
                                &:hover {
                                    color: var(--highlight);
                                }
                            }
                        }
                    }
                    .separator {
                        margin-bottom: $margin-top-bottom;
                        width: 100%;
                        height: 1px;
                        transition: background-color 0.4s ease;
                        background-color: var(--separator-color);
                        &.hide {
                            display: none;
                        }
                    }
                    .externals {
                        margin-bottom: $margin-top-bottom;
                        display: flex;
                        align-items: center;
                        justify-content: space-evenly;
                        .homepage {
                            a {
                                display: flex;
                                align-items: center;
                                text-decoration: none;
                                transition: color 0.4s ease;
                                color: var(--color-dim);
                                svg {
                                    transition: fill 0.4s ease;
                                    fill: var(--color-attract);
                                    width: 14px;
                                    height: 14px;
                                    margin-right: 4px;
                                }
                                &:hover {
                                    color: var(--color-attract);
                                    svg {
                                        fill: var(--highlight);
                                    }
                                }
                            }
                            &.hide {
                                display: none;
                            }
                        }
                        .pages {
                            a {
                                display: flex;
                                align-items: center;
                                text-decoration: none;
                                transition: color 0.4s ease;
                                color: var(--color-dim);
                                svg {
                                    transition: fill 0.4s ease;
                                    fill: var(--color-attract);
                                    width: 16px;
                                    height: 16px;
                                    margin: 0px 4px;
                                }
                                &:hover {
                                    color: var(--color-attract);
                                    svg {
                                        fill: var(--highlight);
                                    }
                                }
                            }
                            &.hide {
                                display: none;
                            }
                        }
                        &.hide {
                            display: none;
                        }
                    }
                    &:hover {
                        border-color: var(--highlight);
                        .separator {
                            background-color: var(--highlight);
                        }
                    }
                }
            }
            &.hide {
                display: none;
            }
        }
        .nothing {
            width: 100%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            .msg {
                text-align: center;
                font-size: 1.6rem;
                span {
                    color: var(--color-attract);
                }
            }
            &.hide {
                display: none;
            }
        }
    }
}

@media (max-width:300px) {
    .main {
        .container {
            .content {
                .cards {
                    .card {
                        .externals {
                            flex-direction: column;
                            div {
                                margin: 4px 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:912px) {
    .main {
        .container {
            $margin-top-bottom: 2vw;
            .content {
                .text {
                    font-size: 2rem;
                    margin-bottom: 2vw;
                }
            }
        }
    }
}