// @import "../css/colors.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
    margin: 5px;
    padding: 0;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

$transition-time: 0.4s;

:root {
    --primary: rgb(255, 255, 255);
    --primary-o8: #ffffffcc;
    --highlight: #1da1f2;
    --highlight-o_24: rgba(29, 161, 242, 0.24);
    --color-attract: #14171a;
    --color-dim: #657786;

    --separator-color: rgba(132, 131.5, 135, 0.4);
}

::-webkit-scrollbar {
    width: 0.4em;
    height: 0.4em;
}

::-webkit-scrollbar-track {
    transition: background $transition-time ease;
    background: var(--primary);
    border-radius: 100vh;
}

::-webkit-scrollbar-thumb {
    transition: background $transition-time ease;
    background: var(--border-color);
    border-radius: 100vh;
}

@supports (scrollbar-color: var(--border-color) var(--primary)) {
    * {
        transition: scrollbar-color $transition-time ease;
        scrollbar-color: var(--border-color) var(--primary);
        scrollbar-width: thin;
        border-radius: 100vh;
    }
}

body {
    background-color: var(--primary);
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 448px;
        height: 100vh;
        max-height: 500px;
        border: 1px solid var(--separator-color);
        border-radius: 0.6rem;

        .big-title {
            text-align: center;
            margin: 16px 5px;
            font-size: 2.6rem;
        }

        .e404 {
            margin: 8px 5px;
            width: 64%;
        }

        .title {
            text-align: center;
            margin: 40px 5px;
            color: var(--color-dim);
        }

        .input {
            margin: 10px 5px;
            width: 44%;
            min-width: 197px;
            background-color: var(--primary);
            border: 1px solid var(--color-dim);
            padding: 1vh 1.6vh;
            border-radius: 0.8vh;

            &:focus {
                border: 1px solid rgba(22, 115, 240, 0.6);
                outline: 1.6px solid rgba(22, 115, 240, 0.6);
            }
        }

        #continue {
            padding: 1vh 2.6vh;
            border-radius: 0.8vh;
            border: 1px solid var(--highlight);
            transition: background 0.4s ease, color 0.4s ease;
            background-color: var(--primary);
            color: var(--highlight);

            &:hover {
                cursor: pointer;
                background-color: var(--highlight);
                color: var(--primary);
            }

            &:focus {
                background-color: var(--primary);
                color: var(--highlight);
                border: 1px solid rgba(22, 115, 240, 0.6);
                outline: 1.6px solid rgba(22, 115, 240, 0.6);
            }
        }
    }
}

@media (max-width: 600px) {
    .container {
        .box {
            border: none;
            min-width: 100%;
            min-height: 100vh;
        }
    }
}
