.main {
    .container {
        $margin-top-bottom: 10px;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;

        .options-container {
            background-color: var(--primary-o8);
            backdrop-filter: blur(20px);
            border-bottom: 0.1px solid var(--separator-color);
            position: fixed;
            width: 84%;
            // max-width: 774px;
            height: 8vh;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            .options {
                display: flex;
                align-items: center;

                .space {
                    width: 1vh;
                }

                input {
                    display: none;
                    $label-height: 1vh;

                    + {
                        label {
                            backdrop-filter: blur(100px);
                            border-radius: $label-height*100;
                            transition: border-color 0.4s ease, color 0.4s ease;
                            border: 1.6px solid #00000000;
                            padding: $label-height $label-height*1.6;
                            color: var(--separator-dim);

                            &:hover {
                                cursor: pointer;
                                color: var(--color-attract);
                                border-color: var(--separator-color);
                            }
                        }
                    }

                    &:checked {
                        + {
                            label {
                                // backdrop-filter: blur(100px);
                                transition: background-color 0.4s ease, color 0.4s ease;
                                border-radius: $label-height*100;
                                color: var(--highlight);
                                background-color: var(--highlight-o_24);
                                padding: $label-height $label-height*1.6;

                                &:hover {
                                    cursor: pointer;
                                    border-color: #00000000;
                                }
                            }
                        }
                    }
                }
            }

            &.hide {
                display: none;
            }
        }

        .content {
            width: 96%;
            max-width: 75vh;

            .no_data_and_wait {

                .msg {
                    text-align: center;
                    margin: 0 5px;
                    height: 92vh;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-around;

                    span {
                        span {
                            color: var(--color-attract);
                        }
                    }
                }

                &.hide {
                    display: none;
                }
            }

            .cards {
                .card {
                    margin: $margin-top-bottom 0;
                    display: flex;
                    transition: border 0.4s ease;
                    border: 0.1px solid var(--separator-color);
                    border-radius: $margin-top-bottom;

                    .profile_pic {
                        a {
                            height: 32vh;
                            width: 32vh;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: space-around;

                            img {
                                height: inherit;
                                border-top-left-radius: $margin-top-bottom;
                                border-bottom-left-radius: $margin-top-bottom;
                                border-top-right-radius: $margin-top-bottom/1.6;
                                border-bottom-right-radius: $margin-top-bottom/1.6;
                            }
                        }
                    }

                    .metadata {
                        // height: 32vh;
                        // background-color: green;
                        margin-left: $margin-top-bottom;
                        // display: flex;
                        // flex-direction: column;
                        // align-items: center;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;

                        .uname {
                            a {
                                text-decoration: none;
                                height: 4vh;
                                // padding: 10px 0;
                                // background-color: rebeccapurple;
                                font-size: 1.6rem;
                                margin: 20px 0;
                                transition: color 0.4s ease;
                                color: var(--color-attract);
                                display: flex;
                                align-items: center;

                                // .text {
                                //     margin-left: 10px;
                                // }

                                &:hover {
                                    color: var(--highlight);

                                    svg {
                                        fill: var(--highlight);
                                    }
                                }
                            }
                        }

                        .other {
                            height: 22vh;
                            margin-top: 2vh;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-evenly;

                            // background-color: blue;
                            // margin-top: 60px;
                            div {
                                // margin-top: 30px;

                                a {
                                    text-decoration: none;
                                    transition: color 0.4s ease;
                                    color: var(--color-dim);

                                    span {
                                        transition: color 0.4s ease;
                                        color: var(--color-attract);
                                    }

                                    &:hover {
                                        color: var(--color-attract);

                                        span {
                                            color: var(--highlight);
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &:hover {
                        border-color: var(--highlight);
                    }
                }

                &.hide {
                    display: none;
                }
            }

            .space {
                height: 8vh;
            }

            .end {
                height: 0;
            }

        }
    }
}

@media (max-width:912px) {
    .main {
        .container {
            $margin-top-bottom: 1vh;
            width: 100%;
            height: 92vh;

            .space {
                height: 8vh;
            }

            .options-container {
                width: 100%;
            }


            .content {
                width: 96%;
                max-width: 70vh;

                .cards {
                    .card {
                        .profile_pic {
                            a {
                                height: 20vh;
                                width: 20vh;
                            }
                        }

                        .metadata {

                            .uname {
                                a {
                                    height: 1vh;
                                }
                            }

                            .other {
                                height: 12vh;
                                margin-top: 0vh;
                            }
                        }
                    }
                }

                .end {
                    height: 8vh;
                }
            }
        }
    }
}