.main .container {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .container .options-container {
  background-color: var(--primary-o8);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-bottom: 0.1px solid var(--separator-color);
  position: fixed;
  width: 84%;
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .container .options-container .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .container .options-container .options .space {
  width: 1vh;
}

.main .container .options-container .options input {
  display: none;
}

.main .container .options-container .options input + label {
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
  border-radius: 100vh;
  -webkit-transition: border-color 0.4s ease, color 0.4s ease;
  transition: border-color 0.4s ease, color 0.4s ease;
  border: 1.6px solid #00000000;
  padding: 1vh 1.6vh;
  color: var(--separator-dim);
}

.main .container .options-container .options input + label:hover {
  cursor: pointer;
  color: var(--color-attract);
  border-color: var(--separator-color);
}

.main .container .options-container .options input:checked + label {
  -webkit-transition: background-color 0.4s ease, color 0.4s ease;
  transition: background-color 0.4s ease, color 0.4s ease;
  border-radius: 100vh;
  color: var(--highlight);
  background-color: var(--highlight-o_24);
  padding: 1vh 1.6vh;
}

.main .container .options-container .options input:checked + label:hover {
  cursor: pointer;
  border-color: #00000000;
}

.main .container .options-container.hide {
  display: none;
}

.main .container .content {
  width: 96%;
  max-width: 75vh;
}

.main .container .content .no_data_and_wait .msg {
  text-align: center;
  margin: 0 5px;
  height: 92vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main .container .content .no_data_and_wait .msg span span {
  color: var(--color-attract);
}

.main .container .content .no_data_and_wait.hide {
  display: none;
}

.main .container .content .cards .card {
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: border 0.4s ease;
  transition: border 0.4s ease;
  border: 0.1px solid var(--separator-color);
  border-radius: 10px;
}

.main .container .content .cards .card .profile_pic a {
  height: 32vh;
  width: 32vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main .container .content .cards .card .profile_pic a img {
  height: inherit;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 6.25px;
  border-bottom-right-radius: 6.25px;
}

.main .container .content .cards .card .metadata {
  margin-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main .container .content .cards .card .metadata .uname a {
  text-decoration: none;
  height: 4vh;
  font-size: 1.6rem;
  margin: 20px 0;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
  color: var(--color-attract);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .container .content .cards .card .metadata .uname a:hover {
  color: var(--highlight);
}

.main .container .content .cards .card .metadata .uname a:hover svg {
  fill: var(--highlight);
}

.main .container .content .cards .card .metadata .other {
  height: 22vh;
  margin-top: 2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.main .container .content .cards .card .metadata .other div a {
  text-decoration: none;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
  color: var(--color-dim);
}

.main .container .content .cards .card .metadata .other div a span {
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
  color: var(--color-attract);
}

.main .container .content .cards .card .metadata .other div a:hover {
  color: var(--color-attract);
}

.main .container .content .cards .card .metadata .other div a:hover span {
  color: var(--highlight);
}

.main .container .content .cards .card:hover {
  border-color: var(--highlight);
}

.main .container .content .cards.hide {
  display: none;
}

.main .container .content .space {
  height: 8vh;
}

.main .container .content .end {
  height: 0;
}

@media (max-width: 912px) {
  .main .container {
    width: 100%;
    height: 92vh;
  }
  .main .container .space {
    height: 8vh;
  }
  .main .container .options-container {
    width: 100%;
  }
  .main .container .content {
    width: 96%;
    max-width: 70vh;
  }
  .main .container .content .cards .card .profile_pic a {
    height: 20vh;
    width: 20vh;
  }
  .main .container .content .cards .card .metadata .uname a {
    height: 1vh;
  }
  .main .container .content .cards .card .metadata .other {
    height: 12vh;
    margin-top: 0vh;
  }
  .main .container .content .end {
    height: 8vh;
  }
}
/*# sourceMappingURL=social.css.map */