.main {
    font-size: 1.2rem;
    .container {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        .box {
            width: 80%;
            height: 80vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            .dp {
                margin: 5px 5px;
                $dp-size: 16vh;
                width: $dp-size;
                height: $dp-size;
                box-shadow: 0 6px 20px 0 rgba((244+20)/2, (245+18)/2, (245+25)/2, 0.2);
                border-radius: 100%;
                img {
                    width: $dp-size;
                    height: $dp-size;
                    border-radius: 100%;
                }
            }
            .github {
                margin: 5px 5px;
                a {
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    $fill-color: var(--color-attract);
                    svg {
                        width: 20px;
                        height: 20px;
                        fill: $fill-color;
                    }
                    .text {
                        margin-left: 4px;
                        color: $fill-color;
                    }
                }
            }
            .social {
                margin: 5px 5px;
                a {
                    text-decoration: none;
                    color: var(--color-dim);
                    span {
                        color: var(--color-attract);
                    }
                }
            }
            .repos {
                margin: 5px 5px;
                a {
                    text-decoration: none;
                    color: var(--color-dim);
                    span {
                        color: var(--color-attract);
                    }
                }
            }
            .starred {
                margin: 5px 5px;
                a {
                    text-decoration: none;
                    color: var(--highlight);
                }
            }
            .twitter {
                display: none;
                margin: 5px 5px;
                a {
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    svg {
                        // margin: 0 2px;
                        height: 20px;
                        width: 20px;
                        fill: var(--color-attract);
                    }
                    .text {
                        color: var(--color-attract);
                        margin-left: 4px;
                    }
                }
            }
            .line {
                display: none;
                margin: 5px 5px;
                width: 84%;
                max-width: 320px;
                height: 1px;
                border-radius: 5px;
                background-color: var(--separator-color);
            }
            .bio {
                display: none;
                margin: 5px 5px;
            }
        }
    }
}

@media (max-width:912px) {
    .main {
        .container {
            width: 100%;
            height: 92vh;
            .box {
                width: 80%;
                height: 80vh;
                // background-color: blue;
                display: flex;
                flex-direction: column;
                align-items: center;
                .dp {
                    $dp-size: 16vh;
                    width: $dp-size;
                    height: $dp-size;
                    border-radius: 100%;
                    img {
                        width: $dp-size;
                        height: $dp-size;
                        border-radius: 100%;
                    }
                }
            }
        }
    }
}

// .main {
//     .container {
//         width: 100%;
//         height: 100vh;
//         background-color: blue;
//     }
// }
// @media (max-width:912px) {
//     .main {
//         .container {
//             width: 100%;
//             height: 92vh;
//             background-color: blue;
//         }
//     }
// }