.main {
  font-size: 1.2rem;
}

.main .container {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .container .box {
  width: 80%;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .container .box .dp {
  margin: 5px 5px;
  width: 16vh;
  height: 16vh;
  -webkit-box-shadow: 0 6px 20px 0 rgba(132, 132, 135, 0.2);
          box-shadow: 0 6px 20px 0 rgba(132, 132, 135, 0.2);
  border-radius: 100%;
}

.main .container .box .dp img {
  width: 16vh;
  height: 16vh;
  border-radius: 100%;
}

.main .container .box .github {
  margin: 5px 5px;
}

.main .container .box .github a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .container .box .github a svg {
  width: 20px;
  height: 20px;
  fill: var(--color-attract);
}

.main .container .box .github a .text {
  margin-left: 4px;
  color: var(--color-attract);
}

.main .container .box .social {
  margin: 5px 5px;
}

.main .container .box .social a {
  text-decoration: none;
  color: var(--color-dim);
}

.main .container .box .social a span {
  color: var(--color-attract);
}

.main .container .box .repos {
  margin: 5px 5px;
}

.main .container .box .repos a {
  text-decoration: none;
  color: var(--color-dim);
}

.main .container .box .repos a span {
  color: var(--color-attract);
}

.main .container .box .starred {
  margin: 5px 5px;
}

.main .container .box .starred a {
  text-decoration: none;
  color: var(--highlight);
}

.main .container .box .twitter {
  display: none;
  margin: 5px 5px;
}

.main .container .box .twitter a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .container .box .twitter a svg {
  height: 20px;
  width: 20px;
  fill: var(--color-attract);
}

.main .container .box .twitter a .text {
  color: var(--color-attract);
  margin-left: 4px;
}

.main .container .box .line {
  display: none;
  margin: 5px 5px;
  width: 84%;
  max-width: 320px;
  height: 1px;
  border-radius: 5px;
  background-color: var(--separator-color);
}

.main .container .box .bio {
  display: none;
  margin: 5px 5px;
}

@media (max-width: 912px) {
  .main .container {
    width: 100%;
    height: 92vh;
  }
  .main .container .box {
    width: 80%;
    height: 80vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .container .box .dp {
    width: 16vh;
    height: 16vh;
    border-radius: 100%;
  }
  .main .container .box .dp img {
    width: 16vh;
    height: 16vh;
    border-radius: 100%;
  }
}
/*# sourceMappingURL=user.css.map */